In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import time
import datetime
import lightgbm as lgb
import warnings
warnings.filterwarnings('ignore')

In [2]:
calendar = pd.read_csv('../data/calendar.csv')
sales_train_val = pd.read_csv('../data/sales_train_validation.csv')
sales_train_eval = pd.read_csv('../data/sales_train_evaluation.csv')
sell_prices = pd.read_csv('../data/sell_prices.csv')

### 01 Preprocessing Data
#### 1.1 Calendar Data

In [3]:
display(calendar.info())
display(calendar.head().T)
display(calendar.describe().T)
display(calendar.isnull().sum().T)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   object
 1   wm_yr_wk      1969 non-null   int64
 2   weekday       1969 non-null   object
 3   wday          1969 non-null   int64
 4   month         1969 non-null   int64
 5   year          1969 non-null   int64
 6   d             1969 non-null   object
 7   event_name_1  162 non-null    object
 8   event_type_1  162 non-null    object
 9   event_name_2  5 non-null      object
 10  event_type_2  5 non-null      object
 11  snap_CA       1969 non-null   int64
 12  snap_TX       1969 non-null   int64
 13  snap_WI       1969 non-null   int64
dtypes: int64(7), object(7)
memory usage: 215.5+ KB

None

                       0           1           2           3           4
date          2011-01-29  2011-01-30  2011-01-31  2011-02-01  2011-02-02
wm_yr_wk           11101       11101       11101       11101       11101
weekday         Saturday      Sunday      Monday     Tuesday   Wednesday
wday                   1           2           3           4           5
month                  1           1           1           2           2
year                2011        2011        2011        2011        2011
d                    d_1         d_2         d_3         d_4         d_5
event_name_1         NaN         NaN         NaN         NaN         NaN
event_type_1         NaN         NaN         NaN         NaN         NaN
event_name_2         NaN         NaN         NaN         NaN         NaN
event_type_2         NaN         NaN         NaN         NaN         NaN
snap_CA                0           0           0           1           1
snap_TX                0           0           0           1           0
snap_WI                0           0           0           0           1

,count,mean,std,min,25%,50%,75%,max
wm_yr_wk,1969.0,11347.086338,155.277043,11101.0,11219.0,11337.0,11502.0,11621.0
wday,1969.0,3.997461,2.001141,1.0,2.0,4.0,6.0,7.0
month,1969.0,6.325546,3.416864,1.0,3.0,6.0,9.0,12.0
year,1969.0,2013.288471,1.580198,2011.0,2012.0,2013.0,2015.0,2016.0
snap_CA,1969.0,0.330117,0.470374,0.0,0.0,0.0,1.0,1.0
snap_TX,1969.0,0.330117,0.470374,0.0,0.0,0.0,1.0,1.0
snap_WI,1969.0,0.330117,0.470374,0.0,0.0,0.0,1.0,1.0

date               0
wm_yr_wk           0
weekday            0
wday               0
month              0
year               0
d                  0
event_name_1    1807
event_type_1    1807
event_name_2    1964
event_type_2    1964
snap_CA            0
snap_TX            0
snap_WI            0
dtype: int64

In [4]:
# Convert 'date' column to datetime format
calendar['date'] = pd.to_datetime(calendar['date'])
# drop weekday 
calendar = calendar.drop(columns=['weekday'])

In [5]:
# define a function to do the following steps for columns: event_name_1, event_type_1, event_name_2, event_type_2
def process_event_column(column, calendardata):
    # Get unique values for the event_name column and the associated date
    temp_df = calendardata[[column, 'date']].dropna().sort_values(by=[column, 'date']).reset_index(drop=True)
    # Pivot the data: event names become columns, and dates remain as index
    temp_df = temp_df.pivot(index='date', columns=column, values=column)
    # Fill NaN values with 0, and existing values with 1
    temp_df = temp_df.fillna(0).applymap(lambda x: 1 if x != 0 else 0)
    # Merge the resulting pivoted DataFrame back to the original calendar data by date
    calendardata = calendardata.merge(temp_df, on='date')
    # Drop the original column after merge
    calendardata = calendardata.drop(columns=[column])
    # Return the updated calendar data and the new column names
    return calendardata, temp_df.columns.tolist()


# apply the function to the columns
calendar, event_name_1_columns = process_event_column(column='event_name_1', calendardata=calendar)
calendar, event_type_1_columns = process_event_column(column='event_type_1', calendardata=calendar)
calendar, event_name_2_columns = process_event_column(column='event_name_2', calendardata=calendar)
calendar, event_type_2_columns = process_event_column(column='event_type_2', calendardata=calendar)

print("event_name_1_columns: ", event_name_1_columns)
print("event_type_1_columns: ", event_type_1_columns)
print("event_name_2_columns: ", event_name_2_columns)
print("event_type_2_columns: ", event_type_2_columns)

event_name_1_columns:  ['Chanukah End', 'Christmas', 'Cinco De Mayo', 'ColumbusDay', 'Easter', 'Eid al-Fitr', 'EidAlAdha', "Father's day", 'Halloween', 'IndependenceDay', 'LaborDay', 'LentStart', 'LentWeek2', 'MartinLutherKingDay', 'MemorialDay', "Mother's day", 'NBAFinalsEnd', 'NBAFinalsStart', 'NewYear', 'OrthodoxChristmas', 'OrthodoxEaster', 'Pesach End', 'PresidentsDay', 'Purim End', 'Ramadan starts', 'StPatricksDay', 'SuperBowl', 'Thanksgiving', 'ValentinesDay', 'VeteransDay']
event_type_1_columns:  ['Cultural', 'National', 'Religious', 'Sporting']
event_name_2_columns:  ['Cinco De Mayo', 'Easter', "Father's day", 'OrthodoxEaster']
event_type_2_columns:  ['Cultural', 'Religious']

In [6]:
calendar.head().T

,0,1,2,3,4
date,2011-04-24 00:00:00,2013-05-05 00:00:00,2014-04-20 00:00:00,2014-06-15 00:00:00,2016-06-19 00:00:00
wm_yr_wk,11113,11315,11412,11420,11621
wday,2,2,2,2,2
month,4,5,4,6,6
year,2011,2013,2014,2014,2016
d,d_86,d_828,d_1178,d_1234,d_1969
snap_CA,0,1,0,0,0
snap_TX,0,1,0,1,0
snap_WI,0,1,0,1,0
Chanukah End,0,0,0,0,0
Christmas,0,0,0,0,0
Cinco De Mayo_x,0,0,0,0,0
ColumbusDay,0,0,0,0,0
Easter_x,0,0,1,0,0
Eid al-Fitr,0,0,0,0,0
EidAlAdha,0,0,0,0,0
Father's day_x,0,0,0,0,0
Halloween,0,0,0,0,0
IndependenceDay,0,0,0,0,0
LaborDay,0,0,0,0,0
LentStart,0,0,0,0,0
LentWeek2,0,0,0,0,0
MartinLutherKingDay,0,0,0,0,0
MemorialDay,0,0,0,0,0
Mother's day,0,0,0,0,0
NBAFinalsEnd,0,0,0,1,1
NBAFinalsStart,0,0,0,0,0
NewYear,0,0,0,0,0
OrthodoxChristmas,0,0,0,0,0
OrthodoxEaster_x,1,1,0,0,0
Pesach End,0,0,0,0,0
PresidentsDay,0,0,0,0,0
Purim End,0,0,0,0,0
Ramadan starts,0,0,0,0,0
StPatricksDay,0,0,0,0,0
SuperBowl,0,0,0,0,0
Thanksgiving,0,0,0,0,0
ValentinesDay,0,0,0,0,0
VeteransDay,0,0,0,0,0
Cultural_x,0,0,1,0,0
National,0,0,0,0,0
Religious_x,1,1,0,0,0
Sporting,0,0,0,1,1
Cinco De Mayo_y,0,1,0,0,0
Easter_y,1,0,0,0,0
Father's day_y,0,0,0,1,1
OrthodoxEaster_y,0,0,1,0,0
Cultural_y,1,1,0,1,1
Religious_y,0,0,1,0,0